<img id="shareImage" src="app/img/fox.png" />
<div class="container">
    <div class="stage" id="third"  data-exitAnimation="slideOutUp">
        <a id="phone"  href="https://www.secret-cn.com/download">
            <img src="app/img/phone.png" />
        </a>
        <a id="download" href="https://www.secret-cn.com/download">
            <img src="app/img/download.png" />
        </a>
        <div id="slideBack">
            <img  class="float" id="arrowUp" src="app/img/arrowup.png" />
        </div>
    </div>
    <div class="stage" id="second" data-entranceAnimation="slideInDown"  data-exitAnimation="slideOutUp">
        <div  class="about-block" id="about-1" data-entranceAnimation="fadeInDown">
            <img src="app/img/about-1.png" />
        </div>
        <div  class="about-block" id="about-2" data-entranceAnimation="fadeInDown">
            <img src="app/img/about-2.png" />
        </div>
        <div  class="about-block" id="about-3" data-entranceAnimation="fadeInDown">
            <img src="app/img/about-3.png" />
        </div>
        <div  class="about-block" id="about-4" data-entranceAnimation="fadeInDown">
            <img src="app/img/about-4.png" />
        </div>
    </div>
    <div class="stage" id="first" data-exitAnimation="slideOutUp" data-entranceAnimation="slideInDown">
        <div id="logo">            
            <div id="logo-window">
                <img src="app/img/window.png" />
            </div>
            <div id="logo-fox"  data-entranceAnimation="fadeInRight" >
                <img src="app/img/logofox.png" />
            </div>
            <div id="logo-window-top">
                <img src="app/img/windowtop.png" />
            </div>
        </div>
        <div id="intro"  data-entranceAnimation="fadeInDown" >
            <img src="app/img/intro.png" />
        </div>
    </div>

</div>
<div id="slideUp" class="hidden">
    <img  class="float" id="arrowUp" src="app/img/arrowup.png" />
    <p>向上滑动</p>
</div>
